
:root {
  --main-font-family: 'Montserrat', sans-serif;
  --accent-color: #fd9222;
  --primary-text-color-theme-dark: #ffffff;
  --primary-text-color-theme-light: #111111;
  --hover-buttons-color: #fcf1e0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: var(--main-font-family);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 375px) {
  .container {
    width: 335px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*================= Top Sellers ==================*/

.top-sellers-title,
.order-buy-title {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 50px;
  
}

.top-sellers-title-sellers,
.order-buy-title-now {
  color:var(--primary-text-color-theme-light)
}

.top-sellers-images-list {
  display: flex;
  justify-content: center;
}

.top-sellers-img {
  border-radius: 15px;
}

.top-sellers-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #111111;
  max-width: 306px;
}

.open-form-buy-button { 
  display: flex;  
  padding: 12px 28px;
  width: 120px;
  height: 40px;
  background-color:var(--accent-color);
  border-radius: 100px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #FFFFFF;
  }

/*=================0rder buy==============*/

.order-buy {
  position: relative;
  width: 609px;
  height: 1058px;
  padding: 48px;
  background-color: #FAFAFA;
  border-radius: 15px;
}

.close-order-buy-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 28px;
  height: 28px;
  border: none;
  background-color: transparent;
  top: 24px;
  right: 24px;
}

.order-buy-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 40px;
}

.order-buy-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  height: 196px;
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 18px;
  background-color: #FFFFFF;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}

.order-buy-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  width: 96px;
  height: 33px;
  background-color: #FAFAFA;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
}

.order-buy-img {
  margin-bottom: 14px;
}

.contact-fom-wrapper {
  position: relative;
  margin-bottom: 18px;
}

.contact-form-field-descr {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 8px;
}

.contact-form-input-surname,
.contact-form-input-name {
  max-width: 246px;
}

.contact-form-message,
.contact-form-input {
  width: 100%; 
  padding: 22px 24px;
  border-color: transparent;
  background-color: transparent;
  outline: transparent;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
}

.contact-form-message {
  height: 137px;
  resize: none;
}

.contact-form-input-name {
  margin-bottom: 14px;
}

.form-send-button {
  padding: 14px 40px;
  min-width: 133px;
  height: 45px;
  background-color:var(--accent-color);
  border-radius: 100px;
  border: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #FFFFFF;
}

.contact-form-input::placeholder,
.contact-form-message::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.country-code-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 24px;
  box-shadow: 2.72246px 0px 0px rgba(0, 0, 0, 0.1);
  width: 125px;
}

.contact-form-input-tell {
  padding-left: 177px;
}

.code-img {
  margin-right: 18px;
}

.mastercard-icon {
  position: absolute;
  top: 50%;
  right: 30px; 
}

.phone-code {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;  
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  }

/*============== mobile =============*/

@media screen and (max-width: 767px) {
  .order-buy-title,
  .top-sellers-title {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 32px;  
  }

  .top-sellers-images-list {
   flex-direction: column;
   margin-bottom: 20px;
  }

  .top-sellers-image-item-bar {
    display: none;
  }

  .top-sellers-img {
    width: 100%; 
  }

  .top-sellers-img-cofee {
    margin-bottom: 20px;
  }

  .top-sellers-mobile-text {   
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: #111111;
    max-width: 306px;
    margin-bottom: 32px;
  }

  .top-sellers-text {
    display: none;
  }

  .order-buy {
    width: 311px;
    height: 994px;
    padding: 24px 32px;
  }

  .close-order-buy-button {
    top: 14px;
    right: 14px;
  }

  .order-buy-list {
    display: flex;
    flex-direction: column;
    column-gap: 8px;
    margin-bottom: 32px;
  }

  .order-buy-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 263px;
    height: 85px;
    padding: 8px 16px;
  }

  .order-buy-img {
    width: 84px;
    height: 69px;
    margin-bottom: 0;
  }

  .order-buy-text {
    width: 73px;
    height: 29px;
  }

  .contact-form-field-descr {
    font-size: 12px;
    line-height: 1.16;
  }

  .contact-form-input-surname,
  .contact-form-input-name {
    width: 100%;;
}

  .contact-form-message,
  .contact-form-input {
    padding: 18px 14px; 
    border-radius: 8px
  }

  .contact-form-message {
    height: 91px;
  }

  .form-send-button {
    padding: 12px 28px;
    min-width: 109px;
    height: 41px;
    background-color:var(--accent-color);
    border-radius: 100px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: #FFFFFF;
  }

  .contact-form-input::placeholder,
  .contact-form-message::placeholder {
    font-size: 14px;
    line-height: 1.21;
  }

  .contact-form-input {
    height: 45px;
  }

  .country-code-container {
    left: 18px;
    box-shadow: 2.72246px 0px 0px rgba(0, 0, 0, 0.1);
    width: 74px;
  }

  .contact-form-input-tell {
    padding-left: 106px;
  }

  .code-img {
    margin-right: 8px;
    width: 24px;
  }

  .mastercard-icon {
    position: absolute;
    top: 50%;
    right: 14px; 
  }

  .phone-code {
    font-size: 14px;
    line-height: 1.21; 
  }

  .mastercard-icon {
    width: 32px;
    height: 21px;
  }
}
   
/*================= tablet =============*/

@media screen and (min-width: 768px) {
  .top-sellers-mobile-text {
    display: none;
  }

  .top-sellers-image-item-bar {
    display: none;
  }

  .top-sellers-images-list {
    gap: 16px;
    flex-basis: calc((100% - 16px)/2);
    margin-bottom: 32px;
  }

  .info-button-container {
    display: flex;
    justify-content: space-between;  
  }

  .open-form-buy-button {
    padding: 14px 40px;
    min-width: 162px;
    height: 50px;
    font-size: 18px;
    line-height: 1.22;
    color: #FFFFFF;
    
  }
}

/*============= desktop =================*/

@media screen and (min-width: 1200px) {
  .top-sellers-image-item-bar {
    display: flex;
  }

  .top-sellers-text {
    min-width: 407px;
  }

  .info-button-container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .open-form-buy-button:hover,
  .open-form-buy-button:focus {
    background-color: var(--hover-buttons-color);
    color: var(--accent-color);
  }
}












